<H2>Pontszámok</H2>

<table class="table table-striped table-info">
    <thead>
        <tr >
            <th class="text-center">id</th>
            <th class="text-center">Pontszám</th>
            <th class="text-center">Tanuló id-ja</th>
        </tr>
    </thead>
    <tbody>
        @for(sc of scores;track sc.id){
            <tr class="text-center">
                <td>{{sc.id}}</td>
                <td>{{sc.score}}</td>
                <td>{{sc.studentId}}</td>
            </tr>
    }
    </tbody>
</table>